@use './Page.module.scss';

.pageInterior {
  @media (min-width: 600px) and (prefers-reduced-motion: no-preference) {
    view-transition-name: los-card;
  }
}

.header {
  background-image: url("/los_bg.png");
  background-size: cover;
  background-position: 50% 25%;
}