@use './Page.module.scss';

.container {
  @media (min-width: 600px) and (prefers-reduced-motion: no-preference) {
    view-transition-name: markus-card;
  }
}

.header {
  background: white;

  :global(#flag) {
    fill: #f00;
  }
}