:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  overscroll-behavior: none;
}

#root {
  width: 100%;
  display: flex;
  place-items: center;
}

code {
  display: inline;
  // border: 1px solid #fff;
  // padding: 1px 3px;
  margin: 0 2px;
  // border-radius: 4px;
  // background: rgba(255, 255, 255, 0.05);
  font-size: 16px;
}